<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity android:name="com.lucas_martins.AGENDINHA.MainActivity">
      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity>

    <receiver
      android:name="com.agendinha.homefeatures.AgendaWidgetProvider"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/agenda_widget_info" />
    </receiver>
  </application>
</manifest>
